<html>
<head>
    <title>无限梦想</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <!--
    <meta http-equiv="pragma" content="no-cache" />
    -->
    <link rel="stylesheet" type="text/css"	href="https://dream-web.oss-cn-hangzhou.aliyuncs.com/static/extjs/4.1/resources/css/ext-all.css" />
    <link rel="stylesheet" type="text/css"	href="https://dream-web.oss-cn-hangzhou.aliyuncs.com/static/css/common.css" />
    <link rel="stylesheet" type="text/css"  href="https://dream-web.oss-cn-hangzhou.aliyuncs.com/static/css/font-awesome/css/font-awesome.min.css" />
    <script type="text/javascript" src="https://dream-web.oss-cn-hangzhou.aliyuncs.com/static/extjs/4.1/ext-all.js"></script>
    <script type="text/javascript" src="https://dream-web.oss-cn-hangzhou.aliyuncs.com/static/jslib/utilsv4.js"></script>
    <script type="text/javascript" src="https://dream-web.oss-cn-hangzhou.aliyuncs.com/static/jslib/myComponent.js"></script>
    <script th:inline="javascript">
        Ext
            .onReady(function () {
                Ext.tip.QuickTipManager.init();

                var store = Ext.create('Ext.data.TreeStore', {
                    root: {
                        expanded: true,
                        children: [
                            {
                                text: "<font style='font-weight: bold;'>功能列表</font>",
                                iconCls: 'MyExt-menu-sub',
                                expanded: true,
                                children: [
                                    {
                                        text: "个人中心",
                                        leaf: true,
                                        href: 'welcome/welcome.html',
                                        hrefTarget: 'mainFrame'
                                    },
                                    /*[# th:if="${isAdmin}"]*/
                                    {
                                        text: "用户管理",
                                        leaf: true,
                                        href: 'user/userManage.html',
                                        hrefTarget: 'mainFrame'
                                    },
                                    {
                                        text: "用户组管理",
                                        leaf: true,
                                        href: 'userGroup/userGroupManage.html',
                                        hrefTarget: 'mainFrame'
                                    },
                                    /*[/]*/
                                    {
                                        text: "统一日志查看",
                                        leaf: true,
                                        href: 'slsView/slsView.html',
                                        hrefTarget: 'mainFrame'
                                    },
                                    {
                                        text: "注销",
                                        leaf: true,
                                        iconCls: 'MyExt-logout',
                                        href: 'logout'
                                    }
                                ]
                            },
                            /*[# th:if="${isAdmin}"]*/
                            {
                                text: "<font style='font-weight: bold;'>系统工具</font>",
                                iconCls: 'MyExt-menu-sub',
                                expanded: true,
                                children: [
                                    {
                                        text: "API密钥管理",
                                        leaf: true,
                                        href: 'apiUser/apiUser.html',
                                        hrefTarget: 'mainFrame'
                                    },
                                    {
                                        text: "登录记录",
                                        leaf: true,
                                        href: 'loginRecord/loginRecord.html',
                                        hrefTarget: 'mainFrame'
                                    },
                                    {
                                        text: "配置管理",
                                        leaf: true,
                                        href: 'systemConfig/systemConfig.html',
                                        hrefTarget: 'mainFrame'
                                    },
                                    /*[# th:if="${allowSolutionDemo}"]*/
                                    {
                                        text: "解决方案Demo",
                                        leaf: true,
                                        href: 'solutionDemo/solutionDemo.html',
                                        hrefTarget: 'mainFrame'
                                    }
                                    /*[/]*/
                                ]
                            },
                            /*[/]*/
                            {
                                text: "<font style='font-weight: bold;'>服务目录</font>",
                                iconCls: 'MyExt-menu-sub',
                                expanded: true,
                                children: [
                                    /*[# th:if="${isAdmin}"]*/
                                    {
                                        text: "产品管理",
                                        leaf: true,
                                        href: 'product/productManage.html',
                                        hrefTarget: 'mainFrame'
                                    },
                                    /*[/]*/
                                    {
                                        text: "云资源申请",
                                        leaf: true,
                                        href: 'serviceCatalogView/userProduct.html',
                                        hrefTarget: 'mainFrame'
                                    },
                                    /*[# th:if="${isAdmin}"]*/
                                    {
                                        text: "待办任务",
                                        leaf: true,
                                        href: 'apply/toComplete.html',
                                        hrefTarget: 'mainFrame'
                                    },
                                    /*[/]*/
                                    {
                                        text: "我的申请",
                                        leaf: true,
                                        href: 'ask/myAsk.html',
                                        hrefTarget: 'mainFrame'
                                    },
                                    /*[# th:if="${isAdmin}"]*/
                                    {
                                        text: "所有任务",
                                        leaf: true,
                                        href: 'task/allTask.html',
                                        hrefTarget: 'mainFrame'
                                    },
                                    {
                                        text: "产品实例",
                                        leaf: true,
                                        href: 'provisionedProduct/provisionedProduct.html',
                                        hrefTarget: 'mainFrame'
                                    }
                                    /*[/]*/
                                ]
                            }
                        ]
                    }
                });

                var tree_panel = Ext.create('Ext.tree.Panel', {
                    frame: false,
                    border: false,
                    region: "center",
                    store: store,
                    rootVisible: false
                });

                var header_panel = Ext
                    .create(
                        'Ext.panel.Panel',
                        {
                            region: "north",
                            height: 68,
                            frame: false,
                            border: false,
                            bodyStyle: 'background:rgb(223,233,246)',
                            html: 'loading...'
                        });

                var main_panel = Ext.create('Ext.panel.Panel', {
                    // title : 'Hello',
                    frame: false,
                    border: false,
                    region: "center",
                    html: '<iframe name="mainFrame" frameborder="0" width="100%" height="100%" src="welcome/welcome.html"/>'
                });

                Ext.create('Ext.container.Viewport', {
                    layout: 'border',
                    items: [{
                        layout: 'border',
                        region: 'west',
                        // frame : false,
                        // border : false,
                        split: true,
                        width: 160,
                        margins: '0 0 0 0',
                        items: [header_panel, tree_panel]
                    }, main_panel]
                });

                MyExt.util.Ajax("system/getIndexLogoPage.do", null, function (data) {
                    header_panel.body.update(data.data);
                });

            });
    </script>
</head>
<body>
<div align="left"></div>
</body>
</html>